In [100]:
import sys
import pandas as pd
import os
sys.path.append(os.path.join(os.getcwd(),'..'))
import watson_developer_cloud
import watson_developer_cloud.natural_language_understanding.features.v1 as features

In [101]:
nlu = watson_developer_cloud.NaturalLanguageUnderstandingV1(version='2017-02-27',
                                                            username='58634093-9046-4f6d-9416-4f2164153834',
                                                            password='7eQajMdhMLl8')

In [102]:
from watson_developer_cloud import WatsonException 
def f1(text1):
    try:
        a = nlu.analyze(text=text1,
                    features=[features.Sentiment()])
        return(a['sentiment']['document']['score'])
    except WatsonException:
        return None

In [103]:
data = pd.read_csv(r"C:\Users\Shraddha.sharma\Desktop\projects\API comparision\data_for_analysis.csv", encoding = 'latin-1')

In [104]:
data['score'] = data['text'].apply(lambda x: f1(x))

In [105]:
data.head()

                                                text  class     score
0                 A good film by a great director!        1  0.968897
1  We watched our waiter pay a lot more attention...      0 -0.841342
2                Always a pleasure dealing with him.      1  0.718539
3                               This is infuriating.      0  0.873240
4            All of the tapas dishes were delicious!      1  0.777364

In [106]:
def check(x):
    if x<0:
        return 0
    else:
        return 1
 
data['IBM_class'] = data['score'].apply(lambda x:check(x))

In [107]:
def checker(x,y):
    if x == y:
        return 1
    else:
        return 0
data['comparison'] = data.apply(lambda x:checker(x['class'],x['IBM_class']), axis=1)

In [108]:
sum(data['comparison'])/995

0.8381909547738694

In [ ]:
data.head()